<section id="student_blog_archive_widget">
  <h2><%= t('archives', :scope => 'refinery.student_blog.shared') %></h2>
  <nav>
    <ul>
      <% links.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
  </nav>
</section>
