<% if @posts.many? %>
  <h2><%= t('.other') %></h2>
  <ul id="teacher_blog_posts">
    <% @posts.each do |teacher_blog_post| %>
      <li class='clearfix'>
        <%= link_to teacher_blog_post.title, refinery.teacher_blog_post_path(teacher_blog_post) %>
      </li>
    <% end %>
  </ul>
<% end %>